<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Registro de Producto</title>
  <link rel="icon" type="image/png" href="../assets/shoes.png">
  <link rel="stylesheet" href="../../assets/styleform.css">
</head>

<body>
  <a href="/catalog" class="back-to-catalog">← Volver al Catálogo</a>

  <h1>Formulario de Registro de Producto</h1>
  <div class="container">
    <div class="cta-form">
      <h2>Registrar un Nuevo Producto</h2>
      <p>Completa los detalles a continuación para registrar tu producto.</p>
    </div>
    <form action="/register-product" method="POST" class="form">
      <input type="text" name="productName" placeholder="Nombre del Producto" class="form__input" id="product-name"
        required />
      <label for="product-name" class="form__label">Nombre del Producto</label>

      <textarea name="productDescription" placeholder="Descripción del Producto" class="form__input"
        id="product-description" required></textarea>
      <label for="product-description" class="form__label">Descripción</label>

      <input type="url" name="productImage" placeholder="URL de la Imagen del Producto" class="form__input"
        id="product-image" required />
      <label for="product-image" class="form__label">Imagen del Producto (URL)</label>

      <input type="number" name="productPrice" step="0.01" placeholder="Precio" class="form__input" id="product-price"
        required />
      <label for="product-price" class="form__label">Precio</label>

      <button type="submit" class="form__button">Registrar producto</button>
    </form>
  </div>
</body>

</html>